<div class="container-fluid">
    <div class="col-xs-6 col-md-4">
    <form>
        <div class="form-group">
            <label for="resourceTitle">Title</label>
            <input type="text" class="form-control" id="resourceTitle" #title placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="resourceLink">Resource link</label>
            <input type="text" class="form-control" id="resourceLink" #link placeholder="Resource link"/>
        </div>
        <div class="form-group">
            <select #selectElem class="form-control">
                <option value="Article">ARTICLE</option>
                <option value="Presentation">PRESENTATION</option>
                <option value="Blog">BLOG</option>
            </select>
        </div>
        <button (click)="addNewTechResource(title.value, link.value, selectElem.value)" class="btn btn-primary">Add new resource</button>
    </form>
</div>
</div>