<div class="container-fluid">
    <div class="col-xs-6 col-md-4">
    <form>
        <div class="form-group">
            <label for="resourceTitle">Title</label>
            <input type="text" class="form-control" id="resourceTitle" #title placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="resourceLink">Resource link</label>
            <input type="text" class="form-control" id="resourceLink" #link placeholder="Resource link"/>
        </div>
        <div class="form-group">
            <ul class="list-inline" *ngFor="let tag of existingTags">
                    <li>
                        <span class="label label-info" (click)="addTag(tag)">{{tag.name}}</span>
                    </li>
            </ul>
            <input type="text" class="form-control" id="addNewTag" #newTag placeholder="Add new tag"/>
            <button class="btn btn-primary" (click)="addNewTag(0, newTag.value); newTag.value=''">Add new tag</button>
        </div>
        <div class="form-group">
            <ul class="list-inline" *ngFor="let tag of assignedTags">
                <li>
                    <span class="label label-primary">{{tag.name}}</span>
                </li>
                
            </ul>
        </div>
        <div class="form-group">
            <label for="resourceType">Resource type</label>
            <select #selectElem class="form-control" id="resourceType">
                <option value="Article">ARTICLE</option>
                <option value="Presentation">PRESENTATION</option>
                <option value="Blog">BLOG</option>
            </select>
        </div>
        <button (click)="addNewTechResource(title.value, link.value, selectElem.value)" class="btn btn-primary">Add new resource</button>
    </form>
</div>
</div>