<h1>
  {{title}}
</h1><br>
<h2>
  {{tokenValue}} <br>
  {{tokenName}}
</h2>

<div *ngIf="!authenticated">
  not authenticated, please login <br/>
  Username: <input type="text" #username/>
  Password: <input type="text" #password/>
  <button (click)="login(username.value, password.value)">Login</button>
  <br>

</div>

<div *ngIf="authenticated">
<ul>
<li *ngFor="let res of resources">
  <h2>
    <a href="{{res.link}}" target="_blank">{{res.title}}</a>
    </h2>
</li>
</ul>
Title:<input type="text" #titleInput /> <br/>
Link: <input type="text" #linkInput /><br/>
<button (click)="createNewTechResource(titleInput.value, linkInput.value)" >Store</button>
<br>
<button (click)="logout()">Logout</button>
</div>