      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">{{brand}}</a>
                  <ul class="nav navbar-nav">
                      <li>
                        <a *ngIf="authenticated" routerLink='/add-tech-resource'>
                          Add new resource</a>
                      </li>
      
                  </ul>
                      <div class="form-group" *ngIf="!authenticated">
                          <button class="btn btn-default" (click)="login()">Sign in</button>
                      </div>
                  <button *ngIf="authenticated" (click)="logout()" class="btn btn-default navbar-btn">Logout</button>
                  <a routerLink='/register-new-user'>Register</a>
                </div>
          </div>
      </nav>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
