<div class="container-fluid">
    <div class="col-xs-6 col-md-4">
    <form>
        <div class="form-group">
            <label for="resourceTitle">Title</label>
            <input type="text" class="form-control" id="resourceTitle" #title value="{{resource.title}}" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="resourceLink">Resource link</label>
            <input type="text" class="form-control" id="resourceLink" #link value="{{resource.link}}" placeholder="Resource link"/>
        </div>
        <div class="form-group">
            <select #resourceStatus class="form-control">
                <option value="New">NEW</option>
                <option value="Processed">PROCESSED</option>
            </select>
        </div>
        <div class="form-group">
            <select #resourceType class="form-control">
                <option value="Article" [selected]="resource.type == 'ARTICLE'">ARTICLE</option>
                <option value="Presentation" [selected]="resource.type == 'PRESENTATION'">PRESENTATION</option>
                <option value="Blog" [selected]="resource.type == 'BLOG'">BLOG</option>
            </select>
        </div>
        <div class="form-group">
            <ul class="list-inline">
                <li *ngFor="let tag of resource.tags">
                    <span class="label label-info">{{tag.name}}</span>
                </li>
            </ul>
        </div>
        <button (click)="updateTechResource(title.value, link.value, resourceStatus.value, resourceType.value)" class="btn btn-primary">Update</button>
    </form>
</div>
</div>