<div class="container-fluid">
    <div class="col-xs-6 col-md-4">
    <form>
        <div class="form-group">
            <label for="resourceTitle">Title</label>
            <input type="text" class="form-control" id="resourceTitle" #title value="{{resource.title}}" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="resourceLink">Resource link</label>
            <input type="text" class="form-control" id="resourceLink" #link value="{{resource.link}}" placeholder="Resource link"/>
        </div>
        <div class="form-group">
            <select #selectElem class="form-control">
                <option value="NEW">NEW</option>
                <option value="PROCESSED">PROCESSED</option>
            </select>
        </div>
        <button (click)="updateTechResource(title.value, link.value, selectElem.value)" class="btn btn-primary">Update</button>
    </form>
</div>
</div>