<!--html>
    <head>
        <title>Authenticate</title>
    </head>
    <body-->
        <form class="form-signin">
            <label for="inputUsername">Username</label>
            <input type="text" #username id="inputUsername" class="form-control"/><br>
            <label for="inputPassword">Password</label>
            <input type="password" #password id="inputPassword" class="form-control"/><br>
            <button class="btn btn-lg btn-primary btn-block" (click)="login(username.value, password.value)">Login</button>
        </form>
    <!--/body>
</html-->