<div class="jumbotron">
    <div *ngIf="!isAuthenticated()" class="container">
        <h4>Not authenticated, please authenticate.</h4>
    </div>
    <div *ngIf="isAuthenticated()" class="container">
        <h4>Showing 10 latest technology resources</h4>
    </div>
</div>    
<div *ngIf="isAuthenticated()" class="container">
    <div class="row" *ngFor="let detailDto of techResourcesDetailsDTOs">
        <div class="col-md-12">
            <div class="thumbnail">
                <a href="{{detailDto.link}}" target="_blank">{{detailDto.title}}</a>
                <ul class="list-inline">
                    <li *ngFor="let tagDto of detailDto.tagDTOs">
                        <span class="label label-info tag">{{tagDto.name}}</span>
                    </li>
                </ul>
                <p>
                    <button class="btn btn-primary" (click)="markAsRead(detailDto.id)">
                        Mark as read
                    </button>
                    <button class="btn btn-primary" (click)="navigateToEdit(detailDto.id)">Edit</button>
                </p>
            </div>
        </div>
    </div>
    <button class="btn" (click)="loadMoreResources()">Load more resources</button>
</div>