target/
!.mvn/wrapper/maven-wrapper.jar
*.log
.mvn/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

okta_username.txt
okta_password.txt
okta_client_id.txt
okta_client_secret.txt
backend/src/main/jib
src/main/frontend/node_modules/
src/main/frontend/dist/
frontend/src/main/frontend/package-lock.json
frontend/src/main/frontend/*.sh
frontend/src/main/frontend/node
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
