language: java
jdk:
  - oraclejdk8
services:
  - postgresql
addons:
  postgresql: "9.4"
before_script:
  - psql -c 'CREATE DATABASE integration_testing;' -U postgres
  - psql -c 'CREATE TABLE technology_resources (id bigserial not null primary key);' -U postgres
  - psql -c 'INSERT INTO technology_resources (id) VALUES (1);' -U postgres
  - psql -c 'SELECT * FROM public.technology_resources;' -U postgres
  - psql -c '\d+ technology_resources;' -U postgres
script:
  - psql -c 'SELECT * FROM public.technology_resources;' -U postgres
  - mvn clean test -Dtest.group=integration
