language: java
jdk:
- oraclejdk10
services:
- postgresql
addons:
  postgresql: '9.4'
before_script:
- psql -f db_setup.sql -U postgres
script:
- mvn clean test -Dtest.group=integration -DAPP_LOG_DIR=.
deploy:
  provider: heroku
  api_key:
    secure: DjeaEWmRRi/RFMNHjlV33cwS3+Yl3vsUNNKFJ4/lLmKsXsh1dQQAXjoU5KqXpkRCE4JP//GiZv1eQmgAyce0DhMdcND4zNbD721TWee7QSJhvoG4cZu6i9litTkU90m6aG9IVu8NUkHR6ut402YA5S4tg4/q9sHdMIia2iNep+5Dd1lPeq5FV8wYUavknjUAIlsIXBWwXi8eN3nqkmH/+Dz/OuzHVQ8IW32ShzflIqG6JqCB/32+E/hjCKOF5HbLc5ErXR2r5IRrPXbHN7v5ZI1GEK3VgYL5/3KU0vZ75X+3FGLT6bg4LTZmhtaZUCRGNrAdMSnaefgT8fnuBRh9Igmj+xhtt359X+OGSkcofW6xlXxkxjCJacGpclcbEzZV0nAFh2Gvebdn31uuNB8Tkt8q0nqQDi/dWhSmpUhZaHDyFwjo3JY5sdIQYOZPnIx2hIyhctNuh/nxOgBWUwlktxhdGgM/ma+ytwJOuPNZkZneAPUXpndSqL9OXEySD1Jx+kTrDMep5rUSQJLcB4Ep1z9LTruiyM/iMojzHjB3y5K/iYNq1CNiRaSuCkETUrnNaCte+IULWYNRD9U4QSUr/ygyLcg8CkoOzk2x/vXaxWSJuWKQrJHi3+HfX54tgIC+HSvdxaFw+hzJssdTLq6CpIdqu0NE4gHILLQcQwSo8Bc=
  app: tech-resource-tracker
