language: java
jdk:
- openjdk14
sudo: required
services:
- docker
addons:
  chrome: stable
script:
- mvn clean test
after_success: docker build -f frontend/src/main/frontend/Dockerfile -t bbelovic/tech-resource-tracker-fe:latest frontend/src/main/frontend
deploy:
  provider: heroku
  api_key:
    secure: fZdq2n8BDw23eCL7v6QCJ0fUV5wOZccUK1eMhX7clSmwI8fUfLP3x5XIe+yBwlgWopg5llsLrW8DALOrubQzYYBqmHKyatXweDryaVB32E8I/Tc8NyhlSzcIH+bWxJxWdozcBRyAALmWU3sXWAvokj+VcMO09CIGkVYsqufLZ9dNqeD0TV7wJi7i5KrsmWLp/wA/aWxTYuvx100Eoo31pf9F4YoIesETWcsDvKsQFcB/1qsW+A61y6seAVAs/9Z5eMRFjxhrrv6rQiP6pcW9tQ9Kc2KemsuKzgc8MwvO4MPAxvUP+xdbn+lLYnEsqbndgHtOdRCavEFUMeMiMhbxjSxtAMO0jpoFXWTd9e5jGMcrpob5lStDLi/pfasULjVaKKr1oeFJ7or4WXRqzZd7q0OyunnjpBxpjG4dkcBPL59WkoVAI8ezUWL9fFoIwnPiUKwUzabvKkNPwownTadOgk51G0Fn+pZM8WeUu+3aTh/xy08ipMxwYQhN5pTFU2fXIcw35pah2RVON5dlxJNGqNTmFhXhaBqSwrRoiQzHDo/jRoKufkoUp6HqaeiEpNLadQ37TqmnKLrZJQsZBVCs2LDaURUmKjcRs9EWDE87n6m5Rh1gfRTP4otjznc552U2k0n5ZBWtmb3Mc22A2NeItEm5uZk5g53mHPDWgahz9Qw=
  app: tech-resource-tracker
