language: java
jdk:
  - oraclejdk8
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE integration_testing;' -U postgres
  - psql -c 'CREATE TABLE technology_resources (id bigserial not null primary key);' -U postgres
  - psql -c 'INSERT INTO technology_resources (id) VALUES (1);' -U postgres
  - psql -c 'SELECT * FROM public.technology_resources;' -U postgres
script: mvn clean test -Dtest.group=integration
