version: '3'
services:
  selenium:
    image: 'selenium/standalone-chrome:4.0.0-beta-2-20210317'
    ports:
      - "4444:4444"
  db:
    image: 'postgres:9.6'
    environment:
      - POSTGRES_USER=db_user
      - POSTGRES_PASSWORD=db_pass
      - POSTGRES_DB=tech_resource_tracker_db
  tech-resource-tracker-be:
    image: 'bbelovic/tech-resource-tracker-composed'
    environment:
      - SPRING_DATASOURCE_USERNAME=db_user
      - SPRING_DATASOURCE_PASSWORD=db_pass
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tech_resource_tracker_db
    depends_on:
      - db
      - selenium
    entrypoint: ["./entrypoint.sh"]
    ports:
      - "8080:8080"
