version: '3'
services:
  e2e-tests:
    build: frontend/src/main/frontend
    profiles: ["e2e"]
    environment:
      - OKTA_TEST_USERNAME=test_name@blabol.com
      - OKTA_TEST_PASSWORD=Y4badabadoo
      - URL_TO_WAIT=http://tech-resource-tracker-be:8080
    volumes:
      - ./frontend/src/main/frontend:/opt/protractor
    depends_on:
      - selenium
    entrypoint: ["./entrypoint.sh"]
  selenium:
    image: 'selenium/standalone-chrome:4.0.0-beta-2-20210317'
    profiles: ["e2e"]
    ports:
      - "4444:4444"
  db:
    image: 'postgres:9.6'
    environment:
      - POSTGRES_USER=db_user
      - POSTGRES_PASSWORD=db_pass
      - POSTGRES_DB=tech_resource_tracker_db
  tech-resource-tracker-be:
    image: 'bbelovic/tech-resource-tracker-composed'
    environment:
      - SPRING_DATASOURCE_USERNAME=db_user
      - SPRING_DATASOURCE_PASSWORD=db_pass
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tech_resource_tracker_db
      - URL_TO_WAIT=jdbc:postgresql://db:5432/tech_resource_tracker_db
    depends_on:
      - db
    entrypoint: ["./entrypoint.sh"]
    ports:
      - "8080:8080"
