version: '3'
services:
  e2e-tests:
    build: frontend/src/main/frontend
      # profiles: ["e2e"]
    environment:
      #- OKTA_TEST_USERNAME=test_name@blabol.com
      #- OKTA_TEST_PASSWORD=Y4badabadoo
      - URL_TO_WAIT=http://tech-resource-tracker-be:8080
      - CYPRESS_APP_HOST=http://tech-resource-tracker-be:8080
    volumes:
      - ./frontend/src/main/frontend:/e2e
    entrypoint: ["./entrypoint.sh"]
  db:
    image: 'postgres:12'
    environment:
      - POSTGRES_USER=db_user
      - POSTGRES_PASSWORD=db_pass
    volumes:
      - ./misc/tracker-dump.sql:/docker-entrypoint-initdb.d/tracker-dump.sql
  tech-resource-tracker-be:
    image: 'bbelovic/tech-resource-tracker-composed'
    environment:
      - SPRING_DATASOURCE_USERNAME=db_user
      - SPRING_DATASOURCE_PASSWORD=db_pass
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tech_resource_tracker_db
      - URL_TO_WAIT=jdbc:postgresql://db:5432/tech_resource_tracker_db
    depends_on:
      - db
    entrypoint: ["./entrypoint.sh"]
    ports:
      - "8080:8080"
