<div class="resource-item">
    <h1>Resource title 2</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec eros sed tortor iaculis faucibus venenatis a arcu. 
        Fusce convallis aliquam nunc, vel commodo erat posuere ac. Proin vehicula efficitur turpis ut dictum. Duis hendrerit justo quis metus aliquet, 
        a posuere mi pharetra. Donec nec pellentesque justo. Fusce in convallis quam, quis maximus erat. In ac dignissim arcu. Donec a lorem vulputate, 
        molestie lacus id, molestie eros. Sed sollicitudin in turpis et faucibus. Mauris pellentesque nulla vitae viverra vehicula. Ut condimentum ligula quis 
        sem dictum molestie. 
        Proin quam lectus, ultricies at dolor quis, rhoncus bibendum erat. Nunc gravida posuere nunc, malesuada lobortis erat mattis vel.
    </p>
    <div class="tags">
        <div class="resource-tag">preview-java</div>
        <div class="resource-tag">kotlin</div>
        <div class="resource-tag">virtual threads</div>
        <div class="resource-tag">investing</div>
        <div class="resource-tag">css hacks</div>
    </div>
    <div class="control-buttons">
        <button class="control-button">Mark as read</button>
        <button class="control-button">Edit</button>
    </div>
    
</div>