<div>
  <h1 class="login-screen-title">Technology resource tracker</h1>
  <p class="login-screen-par">Ready to discover a wealth of technical knowledge and stay up-to-date with the latest articles, blogs, and presentations? Start tracking links and exploring a world of valuable insights! Join our community today and gain access to a curated collection of technical resources. Let's embark on a journey of continuous learning together!
  </p>
  <p class="login-screen-par">To see your saved resources, please <a class="login-link" (click)="login()" data-testid="login-link">log in</a>.</p>
</div>

