
<p>Please log in</p>
<div class="container">
  <form>
    <h3>Register new user</h3>
      <div class="form-group">
        <label for="username">Username </label>
        <input type="text" name="username" placeholder="Username" #username class="form-control"/>
    </div>

    <div class="form-group">
        <label for="password">Password </label>
        <input type="password" name="password" placeholder="Password" #password class="form-control"/>
    </div>

    <div class="form-group">
        <button class="btn btn-default" (click)="login(username.value, password.value)">Log in</button>
    </div>
  </form>
</div>
