.add-resource-form {
    display: flex;
    flex-direction: column;
    width: 50%;
 }
 .add-resource-input {
    margin-top: 0.2em;
    border-color: coral;
    height: 2.0em;
    font-size: 2.0em;
 }
 .add-resource-label {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
 }

 .form-submission-success {
   background-color: green;
   font-weight: bold;
   margin-top: 0.55rem;
   margin-bottom: 0.55rem;
   border-radius: 0.25rem;
   padding: 0.5rem 0.5rem;
}