<form class="add-resource-form" [formGroup]="techResourceForm" (ngSubmit)="onSubmit" data-testid="form">
    <label for="name" class="add-resource-label">Title:</label>
    <input type="text" name="title" id="title" formControlName="title" data-testid="title">
    <label for="link" class="add-resource-label">Link:</label>
    <input type="text" name="link" id="link" formControlName="link" data-testid="link">
    <label for="intro" class="add-resource-label">Intro:</label>
    <textarea name="intro" rows="10"></textarea><br>
    <input type="submit" class="control-button" value="Submit">
</form>