<div *ngIf="(submittedResource | async)?.id > 0" data-testid="result-message">Success</div>
<form class="add-resource-form" [formGroup]="techResourceForm" (ngSubmit)="onSubmit()" data-testid="form">
    <label for="title" class="add-resource-label">Title:</label>
    <input type="text" name="title" id="title" formControlName="title" data-testid="title">
    <label for="link" class="add-resource-label">Link:</label>
    <input type="text" name="link" id="link" formControlName="link" data-testid="link">
    <label for="resource-type">Resource type:</label>
    <select id="resource-type" formControlName="resourceType" data-testid="resource-type">
        <option>Article</option>
        <option>Presentation</option>
        <option>Blog</option>
    </select>
    <label for="intro" class="add-resource-label">Intro:</label>
    <textarea name="intro" rows="10"></textarea><br>
    <button type="submit" class="control-button" name="submitBtn">Submit</button>
</form>