# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test and build on demand

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Build with Maven
      run: mvn -B clean verify -Pcompose --file backend/pom.xml
    - name: Archive build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: angular-logs
        path: /tmp/**/angular-errors.log

