# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test and build on demand

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Build with Maven
      run: mvn -B clean package jib:dockerBuild -Pcompose --file backend/pom.xml
    - name: Docker compose up
      run: docker-compose up -d
    - name: Docker status
      run: docker ps -a
    - name: Run e2e tests
      run: mvn -B clean verify -DskipTests --file backend/pom.xml
    - name: Docker compose down
      run: docker-compose down

