# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test and build on demand

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Dump secrets into file
      env:
        CYPRESS_USERNAME: ${{ secrets.CYPRESS_USERNAME }}
        CYPRESS_PASSWORD: ${{ secrets.CYPRESS_PASSWD }}
        OKTA_CLIENT_ID: ${{ secrets.OKTA_CLIENT_ID }}
        OKTA_CLIENT_SECRET: ${{ secrets.OKTA_CLIENT_SECRET }}
      run: |
       echo "$CYPRESS_USERNAME" > okta_username.txt
       echo "$CYPRESS_PASSWORD" > okta_password.txt
       echo "$OKTA_CLIENT_ID" > okta_client_id.txt
       echo "$OKTA_CLIENT_SECRET" > okta_client_secret.txt
    - name: Build with Maven
      run: mvn -B clean verify -Pcompose --file backend/pom.xml
    - name: Archive Cypress artifacts
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: archive-cypress-video
        path: /home/runner/work/tech-resource-tracker/tech-resource-tracker/frontend/src/main/frontend/cypress/videos/smoke.cy.ts.mp4
        retention-days: 5
    - name: Archive Angular artifacts
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: archive-angular-log
        path: /tmp/ng-*/angular-errors.log
        retention-days: 5
