name: tech-resource-tracker-ci-actions
on: [push]
jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@1
        with:
          java-version: 15
      - name: Build with Maven
        run: mvn -B clean package
